* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #f6f6f6;
  font-family: 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  font-family: inherit;
}
